// Colors:
$chalk: #efefef;
$grey: #999999;
$coal: #222222;
$red: #dd3333;

// Fonts
$mono: $font-family-monospace;
$sans: $font-family-sans-serif;
$sans-cond: $font-family-sans-cond;
$slab: $font-family-serif;

// Weights
$norm-weight:  400;
$bold-weight:  700;
